/*-----body main edits----------*/
body {
  background-color: yellow;
}

header {
  height: 175px;
  background-color: black;
}

article {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

footer {
  height: 50px;
  background-color: black;
  text-align: center;
}

/*-----text edits-----*/
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.logo, .p1 {
  font-family: 'Libre Barcode 39 Extended Text';
  font-size: 38px;
  color: yellow;
  text-align: center;
  padding: 20px;
  line-height: .2;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-size: 28px;
  padding-top: 18px;
}

.saying {
  font-family: 'kristi';
  font-size: 40px;
  color: black;
  text-align: center;
  padding-block-end: 20px;
  padding-block-start: 20px;
}

hr {
  border-top: 10px dashed black;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
  text-align: center;
  font-size: 16px;
}

.defaultTextBox {
  width: 400px;
  left: 0;
  outline: none;
  background-color: black;
  border: none;
}

h3, a {
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
}

q::before { 
  content: " " ";
}
 q::after {
  content: " " ";
}

/*---image style--------------*/
img {
  width: 300px;
  height: 300px;
}

.img-circle {
  border-radius: 50%;
  margin: 25px auto 0 auto;
  display: block;
  border: 10px solid black;
}
/*--ol Ul--*/

ol, ul, li {
  font-family: 'Arial', Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
  font-size: 14px;
}
/*-----link edits----*/
a:link { text-decoration: none; }
a:link { color: yellow; }
a:visited { color: yellow; }
a:hover { color: gray; }
a:active { color: lightgray; }
a:hover {
	text-decoration: underline;
  color: darkslategrey;
}